﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CandidateSearchSub.aspx.cs" Inherits="AJAXServers_CandidateSearchSub" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <style type="text/css">
    .overviewColumn
    {
        float: left;
        width: 33%;
        overflow: hidden;
        white-space: nowrap;
       
        }
        
         .overviewColumn  span
         { 
         	overflow:hidden ;
         	white-space :nowrap ;
         	text-overflow: ellipsis !important;
         }
    
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
