﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AllRecentStatusChanges.ascx.cs" Inherits="AllRecentStatusChanges" %>
<%@ Register Src ="~/Dashboard/Controls/RecentStatusChanges.ascx" TagName="AllRecentstatuschange" TagPrefix="ucl" %>

<asp:Panel ID="pnlSettings" runat="server">    
</asp:Panel>
<ucl:AllRecentstatuschange ID="uclstatuscontrol" runat ="server" />
                    