﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CompanyOverviewHeader.ascx.cs"
    Inherits="TPS360.Web.UI.CompanyOverviewHeader" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>

<script language="JavaScript" src="../Scripts/SendMail.js" type="text/javascript"></script>

<%@ Register Src="~/Controls/MemberJobCarts.ascx" TagName="JobCart" TagPrefix="ucl" %>
<style type="text/css">
    .field-header
    {
        font-size: 12px;
        color: #666666;
        text-transform: uppercase;
    }
    .field-header A
    {
        cursor: pointer;
        color: #008EE8;
    }
    .field-header + h3
    {
        width: 90%;
        overflow: hidden;
        font-size: 16px;
        text-overflow: ellipsis;
    }
    .overviewColumn
    {
        float: left;
        width: 33%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
    }
    .DontShow
    {
        display: none; /* */
        margin: 1px;
        padding: 2px 5px 2px 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        border-top-color: #CCCCCC;
        border-left-color: #CCCCCC;
        background-color: #EEEEEE;
        color: #333333;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 100%;
        font-weight: bold;
        white-space: nowrap;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<script id="igClientScript" type="text/javascript">
    function btnRemarkClicked()
    {
       var btnCancel = $get('<%=btnCancel.ClientID %>');
            var btnOk = $get('<%=btnOk.ClientID %>');
               btnOk.style.display='none';
                    btnCancel.style.display='none'; $('#divRemark').css({'width':'100%'});
    }
    function EnadledTextBox(txtControl)
        {
        
            var btnCancel = $get('<%=btnCancel.ClientID %>');
            var btnOk = $get('<%=btnOk.ClientID %>');
            
            //if(txtControl.readOnly)
                {
                    txtControl.readOnly = false;
                    txtControl.select();
                    btnOk.style.display='block';
                    btnCancel.style.display='block';
                     $('#divRemark').css({'width':'88%'});
                }
        }
</script>

<script type="text/javascript">
function active(tabid){

$('.nav-tabs > .active').removeClass('active');

$('#'+tabid).parent().addClass('active');
var $target = $('html,body'); 
$target.animate({scrollTop: $target.height()}, 1000);
}
</script>

<script src="../js/CompanyRequisition.js" type="text/javascript"></script>

<div style="padding-left: 30px; padding-right: 30px;">
    <div class="TabPanelHeader">
        Overview
    </div>
    <div class="TableRow" style="padding-bottom: 60px;">
        <div class="overviewColumn">
            <h6 class="field-header">
                <asp:Label ID="lblNameHeader" runat="server" Text="Company Name"></asp:Label></h6>
            <h3>
                <asp:Label ID="lblCompanyName" runat="server"></asp:Label></h3>
        </div>
        <div class="overviewColumn" id= "divOverviewColumnRequisition" runat ="server" visible ="false"  >
            <h6 class="field-header">
                <a href="#tab2" onclick="active('tabtwo')" data-toggle="tab"><asp:Label ID="lblReqTitle" runat ="server" Text ="Requisitions"></asp:Label></a></h6>
            <h3>
                <asp:Label ID="lblRequisitions" runat="server"></asp:Label></h3>
        </div>
        <div class="overviewColumn">
            &nbsp;
        </div>
        <div class="overviewColumn" id="dvStartdate" runat="server">
            <h6 class="field-header">
                Contract Start Date</h6>
            <h3>
                <asp:Label ID="lblStartDate" runat="server" Text="StartDate" Font-Bold="true"></asp:Label></h3>
        </div>
    </div>
    <div class="TableRow" style="padding-bottom: 60px;">
        <div class="overviewColumn">
            <h6 class="field-header">
                Primary Contact</h6>
            <h3>
                <asp:LinkButton ID="lnkPrimaryContact" runat="server"></asp:LinkButton></h3>
        </div>
        <div class="overviewColumn">
            <h6 class="field-header">
                <a href="#tab4" onclick="active('tabfour')" data-toggle="tab">Contacts</a>
            </h6>
            <h3>
                <asp:Label ID="lblContacts" runat="server"></asp:Label></h3>
        </div>
        <div class="overviewColumn" id="dvEnddate" runat="server">
            <h6 class="field-header">
                Contract End Date</h6>
            <h3>
                <asp:Label ID="lblEndDate" runat="server" Text="EndDate" Font-Bold="true"></asp:Label></h3>
        </div>
    </div>
    <div class="TableRow" style="padding-bottom: 60px;">
        <div class="overviewColumn">
            <h6 class="field-header">
                <asp:LinkButton ID="lnkPrimaryManager" Text="Primary Manager" runat="server"></asp:LinkButton></h6>
            <h3>
                <asp:Label ID="lblPrimarymanager" runat="server"></asp:Label></h3>
        </div>
        <div class="overviewColumn">
            <h6 class="field-header">
                <a href="#tab5" onclick="active('tabfive')" data-toggle="tab">Documents</a></h6>
            <h3>
                <asp:Label ID="lblDocuments" runat="server"></asp:Label></h3>
        </div>
        <div class="overviewColumn" id="dvServicefee" runat="server">
            <h6 class="field-header">
                Service Fee</h6>
            <h3>
                <asp:Label ID="lblServiceFee" runat="server" Text="ServiceFee" Font-Bold="true"></asp:Label></h3>
        </div>
    </div>
    <div class="TableRow" style="padding-bottom: 60px;">
        <div class="overviewColumn">
            <h6 class="field-header">
                Last Updated
            </h6>
            <h3>
                <asp:Label ID="lblLastupdated" runat="server"></asp:Label></h3>
        </div>
    </div>
    <div class="TableRow" style="padding-bottom: 60px;">
        <h6 class="field-header">
            Remarks</h6>
        <div style="float: left; width: 100%;" id="divRemark">
            <asp:TextBox ID="txtRemarksR" runat="server" BorderStyle="Solid" Height="42px" TextMode="MultiLine"
                ondblclick="EnadledTextBox(this)" Width="98%" Style="resize: None;" EnableViewState="true"></asp:TextBox>
            <%--0.1--%>
            <asp:Label ID="lblRemark" runat="server" Visible="false" CssClass="CommonLabel"></asp:Label>
        </div>
        <div style="float: left; margin-top: 5px; padding-left: 3px;">
            <asp:Button ID="btnOk" runat="server" Text="Update" CssClass="DontShow" OnClick="btnOk_Click"
                Width="70px" OnClientClick="btnRemarkClicked()" />
            <asp:Button ID="btnCancel" runat="server" Text="Cancel" CausesValidation="false"
                CssClass="DontShow" Width="70px" OnClientClick="btnRemarkClicked()" />
        </div>
    </div>
    <asp:UpdatePanel ID="upActions" runat="server">
        <ContentTemplate>
            <div class="well" style="clear: both;">
                <div align="center">
                    <asp:LinkButton ID="lnkAddNote" runat="server" CssClass="btn btn-medium dropdown-toggle"
                        Text="New Note"></asp:LinkButton>
                    <asp:LinkButton ID="lnkAddContact" runat="server" CssClass="btn btn-medium dropdown-toggle"
                        Text="New Contact"></asp:LinkButton>
                    <asp:LinkButton ID="lnkSendEmail" runat="server" CssClass="btn btn-medium dropdown-toggle"
                        Text="New Email"></asp:LinkButton>
                    <asp:LinkButton ID="lnkAssignManager" runat="server" CssClass="btn btn-medium dropdown-toggle"
                        Text="Assign Manager"></asp:LinkButton>
                </div>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
    <asp:Label EnableViewState="false" ID="lblMessage" runat="server"></asp:Label>
    <asp:SiteMapDataSource runat="server" ID="MenuSiteMap" ShowStartingNode="false" />

    <script language="javascript" type="text/javascript">
     var ctlRemarksR = $get('<%=txtRemarksR.ClientID %>');   
     if(ctlRemarksR != null)
     {     
        ctlRemarksR.readOnly=true;
     }
    </script>
