﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PrintJob.ascx.cs" Inherits="TPS360.Web.UI.PrintJob" %>
<script >
function Close()
{
        control.hide();
}
</script>
<div id="control" style ="width :100%;">
  <div style ="width :100%; text-align :right "><asp:ImageButton ID="imgClose" runat ="server" ImageUrl ="~/Images/Dashboard/button-close.png" AlternateText ="Close" Visible ="true"  OnClientClick ="Close()" /></div>
  <div id="divPrint" runat ="server" style ="width :100%;" ></div>
  </div>
