﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SalaryTemplate.ascx.cs"
    Inherits="Controls_SalaryTemplate" %>
<link href="../assets/css/chosen.css" rel="Stylesheet" />

<script type="text/javascript" src="../assets/js/chosen.jquery.js"></script>

<style type="text/css">
    .dropdown-menu:after
    {
        border-bottom: 7px solid #FFFFFF;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: "";
        display: inline-block;
        left: 80%;
        position: absolute;
        top: -6px;
    }
    .dropdown-menu::before
    {
        position: absolute;
        top: -7px;
        left: 80%;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #CCC;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }
    #GridContainer
    {
        margin-left: 25px;
        margin-right: -25px;
        margin: auto;
        width: 80%;
        padding: 10px;
    }
    .Grid
    {
        font-size: 13px;
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        border: 1px solid #DDD;
        border-collapse: separate;
        border-left: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .Grid th, .Grid td
    {
        border-left: 1px solid #DDDDDD !important;
        border-top: 1px solid #DDDDDD !important;
        border-bottom: none !important;
        border-right: none !important; /*padding: 8px !important;*/
        line-height: 18px !important;
        text-align: left !important;
        display: table-cell !important;
        background: none;
    }
    .Grid .altrow
    {
        background-color: #F9F9F9;
    }
    .Grid .altrow:hover
    {
        background-color: #F9F9F9 !important;
    }
    .Grid .row:hover
    {
        background-color: #F9F9F9 !important;
    }
    #Footer
    {
        clear: both;
        height: 25px;
        width: 100%;
        background-color: #e4effd;
        margin: 15px auto 15px auto;
        border-top: 1px solid #bfdbff;
        border-bottom: 1px solid #bfdbff;
        float: left;
        background: url(  "../Images/bgnoise.png" ) repeat scroll 0 0 transparent !important;
        border: 0;
        border-top: 1px solid #EEEEEE;
        background: transparent;
    }
    .center
    {
        margin: auto;
        width: 30%;
        padding: 10px;
    }
    .TableFormLeble
    {
        font-size: 12px;
        color: #444444;
        text-align: left;
        font-weight: bold;
        white-space: nowrap;
        vertical-align: middle;
        width: 28%;
        height: 20px;
        padding: 5px 5px 2px 3px;
        float: left;
    }
    .TableFormContent
    {
        padding: 5px 0px 2px 88px !important;
    }
    .TableFormValidatorContent
    {
        text-align: left;
        vertical-align: top;
        padding: 0px 0px 0px 0px;
        margin-left: 31%;
        font-size: 13px;
        font-weight: 500;
    }
    .form-actions
    {
        padding: 20px 440px 18px !important;
    }
    .chzn-container
    {
        width: 100% !important;
    }
    .chzn-drop
    {
        width: 148px !important;
    }
    .Grid tr td
    {
        overflow: visible !important;
    }
    .txtFormulaValue
    {
        text-align: right;
        width: 95% !important;
    }
</style>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <div class="TableRow" style="text-align: center">
        <asp:Label EnableViewState="false" ID="lblMessage" runat="server"></asp:Label>
    </div>
    <div id="GridContainer">
        <asp:ListBox ID="lstHeads" Style="display: none" runat="server"></asp:ListBox>
        <asp:UpdatePanel ID="upGrade" runat="server" UpdateMode="Conditional">
            <Triggers>
                <asp:AsyncPostBackTrigger ControlID="ddlSalGrade" EventName="SelectedIndexChanged" />
            </Triggers>
            <ContentTemplate>
                <div class="form-actions centered" style="margin-bottom: 0px; padding: 20px !important;">
                    <div class="TableRow">
                        <div class="TableFormLeble" style="text-align: right; width: 330px; padding: 8px 5px 2px 3px;">
                            <asp:Label ID="lblGrade" runat="server" Text="Select Grade"></asp:Label>:
                        </div>
                        <div class="TableFormContent" style="padding: 5px 240px 2px 350px !important;">
                            <asp:DropDownList ID="ddlSalGrade" AutoPostBack="True" runat="server" CssClass="chzn-select"
                                TabIndex="17" Width="40%" OnSelectedIndexChanged="ddlSalGrade_SelectedIndexChanged">
                            </asp:DropDownList>
                        </div>
                    </div>
                    <div class="TableFormValidatorContent">
                        <asp:RequiredFieldValidator ID="rfvGrade" runat="server" ErrorMessage="Please Select Grade"
                            ControlToValidate="ddlSalGrade" Display="Dynamic" ForeColor="Red" ValidationGroup="SelectGrade"
                            InitialValue="0">
                        </asp:RequiredFieldValidator>
                    </div>
                </div>
                <asp:GridView ID="grvSalaryCalulator" runat="server" AutoGenerateColumns="False">
                    <Columns>
                        <asp:BoundField DataField="Heads" HeaderText="Heads" />
                        <asp:TemplateField HeaderText="Calculation">
                            <ItemTemplate>
                                <asp:DropDownList ID="ddlCalculation" CssClass="chzn-select" runat="server">
                                    <asp:ListItem Text="Formula" Value="1" />
                                    <asp:ListItem Text="Fixed Amount" Value="2" />
                                </asp:DropDownList>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Formula">
                            <ItemTemplate>
                                <asp:TextBox ID="txtFormulaValue" CssClass="txtFormulaValue" runat="server" onkeypress="return onlyNumbers(this);"></asp:TextBox>
                            </ItemTemplate>
                        </asp:TemplateField>
                    </Columns>
                </asp:GridView>
            </ContentTemplate>
        </asp:UpdatePanel>
        <div class="form-actions centered" style="margin-bottom: 0px; margin-top: 0px; padding: 20px !important;">
            <asp:Button ID="btnSaveSalaryTemplate" runat="server" Text="Submit" CssClass="btn btn-primary"
                OnClick="btnSaveSalaryTemplate_Click" ValidationGroup="SelectGrade" />
        </div>
    </div>

    <script type="text/javascript">
        Sys.Application.add_load(function() {
            $(".chzn-select").chosen();
        });

        //Restrict the user to key-in chrectors and other special charectors
        function onlyNumbers(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode

            if (charCode == 46) {
                var inputValue = $(this).val()
                if (inputValue.indexOf('.') < 1) {
                    return true;
                }
                return false;
            }
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>

</body>
</html>
