﻿<%@ Page Language="C#" MasterPageFile="~/Masters/CompanyProfile.master" AutoEventWireup="true" CodeFile="VendorSubmissions.aspx.cs" Inherits="TPS360.Web.UI.VendorSubmission" Title="Untitled Page" EnableEventValidation ="false"  %>

<%@ Register Src="~/Controls/VendorMySubmission.ascx" TagName="VendorSubmission" TagPrefix="ucl" %>


<asp:Content ID="Content3" ContentPlaceHolderID="cphCompanyMaster" Runat="Server">
<ucl:VendorSubmission ID="uclVendorSubmission" runat="server"  />
</asp:Content>