﻿<%-- 
-------------------------------------------------------------------------------------------------------------------------------------------
    FileName: Public.master
    Description: This is the master page which inherited all page 
    Created By: 
    Created On:
    Modification Log:
    ------------------------------------------------------------------------------------------------------------------------------
    Ver.No.             Date                Author              MOdification
    ------------------------------------------------------------------------------------------------------------------------------
    0.1             Oct-13-2008          Gopala Swamy          Defect id: 8998; I commented the help link  
    0.2             Feb-20-2009         Kalyani Pallagani      Defect Id: 9031; Included pipe symbol
    0.3             May-13-2009             Veda               Defect id: 10456;Copyrights in the web app has been changed to 2009
    0.4             Jul-08-2009            Veda                Defect id: 10872;"Contact Us" link has been removed.
    0.5             10/Feb/2016            pravin khot         Add customer logo.
-------------------------------------------------------------------------------------------------------------------------------------------       

--%>

<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Public.master.cs" Inherits="TPS360.Web.UI.PublicMaster" %>

<%@ Import Namespace="TPS360.Web.UI" %>
<%@ Register Src="Controls/ApplicationMenu.ascx" TagName="ApplicationMenu" TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 


<head id="Head1" runat="server">
    <title>Talentrackr</title>

    <script language="javascript" type="text/javascript">
        var currentPageGlobalMenu = '';
    </script>

    <link type="text/css" href="~/css.axd?fileSet=FileSet_CSS_Style1" rel="Stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="shortcut icon" href="Images/icon.ico" />
    <%--<link href="~/Style/Common.css" type="text/css" rel="stylesheet" />--%>
       <link href= "assets/css/dropdownchooser.css" rel ="stylesheet" />
</head>
<body>
    <form id="frmMaster" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
        <Services>
            <asp:ServiceReference Path="~/DataService.asmx" />
        </Services>
        <Scripts>
            <asp:ScriptReference Path="~/Scripts/Common.js" />
            <asp:ScriptReference Path="~/Scripts/TopMenu.js" />
        </Scripts>
    </asp:ScriptManager>
    <div id="WrapperOuter">
        <div id="WrapperInner">
            <div id="HeaderBar">
            
        
          <%-- old code comment by pravin khot on 10/Feb/2016--%>
           <%-- <div id="LogoContainer" style="width:97%" >
                    
             <table><tr><td style="width:15%"><asp:Image ID="imgTpsLogo" SkinID="sknTpsLogo" runat="server" EnableViewState="false" Height="42px" /></td>
             <td align="right" ><asp:Image ID="ImgCustomerLogo" src="Images/CustomerLogo.png" style="width:300px;height:42px;" runat="server" /></td></tr></table>
                <%--<asp:Image ID="imgTpsLogo" SkinID="sknTpsLogo" runat="server" style="height:42px;float: left; padding-left: 20px;" EnableViewState="false" Height="42px" />     
                   <asp:Image ID="ImgCustomerLogo" src="Images/CustomerLogo.png"  style="height:42px;float: left; padding-left: 50%;" runat="server" /></div>--%>
                   
                    <%-- &nbsp;&nbsp;&nbsp;
                    
            
                <div id="HeaderBarRight" style="width: 3px;">
                 
                </div>--%>
               <%-- ***************END**********************--%>
                                          
                
                 <%-- NEW CODE ADDED by pravin khot on 10/Feb/2016--%>
                <div id="LogoContainer" >
                    <%--  CODE Modify by pravin khot on 9/March/2016--%>
                    <table><tr><td><asp:Image ID="ImgCustomerLogo"  SkinID="sknCustomerLogo"   runat="server" EnableViewState="false" style="width:300px;height:42px;" /></td>
                     <%-- <table><tr><td><asp:Image ID="imgTpsLogo" SkinID="sknTpsLogo" runat="server" EnableViewState="false" Height="42px" /></td>--%>
                     <%-- End--%>
                     
             <%--<td align="right" ><asp:Image ID="ImgCustomerLogo" src="Images/CustomerLogo.png" style="width:300px;height:42px;" runat="server" />--%></tr></table>
                <%--<asp:Image ID="imgTpsLogo" SkinID="sknTpsLogo" runat="server" style="height:42px;float: left; padding-left: 20px;" EnableViewState="false" Height="42px" />     
                   <asp:Image ID="ImgCustomerLogo" src="Images/CustomerLogo.png"  style="height:42px;float: left; padding-left: 50%;" runat="server" />--%></div>
            
                <div id="HeaderBarRight" >
                  <%--  CODE Modify by pravin khot on 9/March/2016--%>
                    <table><tr><td><asp:Image ID="imgTpsLogo"  SkinID="sknTpsLogo"   runat="server" EnableViewState="false" style="width:300px;height:52px;" /></td></tr></table>
                     <%-- <asp:Image ID="ImgCustomerLogo" src="Images/CustomerLogo.png" style="width:300px;height:42px;" runat="server" />--%>
                </div>
                 <%-- ***************END**********************--%>
                
                <div id="HeaderBarMiddle" align="right">
                    <%----%>
                    <div id="SettingMenuHolder" runat="server" style="float: right; padding-top: 40px;">
                        <asp:HyperLink ID="lnkMemberWelcomeNote" EnableViewState="false" Text="" NavigateUrl=""
                            runat="server"></asp:HyperLink>
                        <span id="settingPipe" runat="server" class="" visible="false">&nbsp;|&nbsp;</span>
                        <asp:LoginStatus ID="lgsLogin" ToolTip="Login" CssClass="helpLink" OnLoggedOut="lgs_LogOut"
                            runat="server" LogoutAction="RedirectToLoginPage" />
                    </div>
                    <div style="float: right; text-align: right;padding-right: 6px;">
                        <%--<img id="imgRightImage" src="Images/AdrenalinPortal.png" />--%>
                    </div>
                </div>
            </div>
            <div id="Body">
                <div id="BodyLeft">
               
                </div>
                <div id="BodyRight">
                
                </div>
                <div id="BodyMiddle" style="position: absolute">
                    <div id="RightColumn2" style="margin-left: auto; margin-right: auto;">
                        <h2 class="CommonTitle">
                            <asp:ContentPlaceHolder ID="cphHomeMasterTitle" runat="server">
                            </asp:ContentPlaceHolder>
                        </h2>
                        <asp:ContentPlaceHolder ID="cphHomeMaster" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
            </div>
            <br />
            <div id="Footer">
                <div id="FooterContainer">
                    <%--<div style="float: left; width: 45%; white-space: nowrap;">
                        Copyright &#169;
                        <%= DateTime.Now.Year.ToString() %>
                        Talentrackr. All rights reserved.
                    </div>
                    <div id="footerMenu" style="float: right; width: 53%; white-space: nowrap;">
                        Version: 1.6.3
                        <%--  <a href="Support.aspx" title="Support">Support</a><span class="footerPipe">|</span>
                        <a href="TermsofUse.aspx" title="Terms of Use">Terms of Use</a><span class="footerPipe">|</span>
                        <a href="Privacy.aspx" title="Privacy Statement">Privacy Statement</a></div>--%>
                    
                    <div style="float: left; width: 45%; white-space: nowrap;font-size:10px;">                        
                        <asp:Label ID="lblCopyRights" runat="server"></asp:Label>
                    </div>
                    <div id="footerMenu" style="float: right; width: 53%; white-space: nowrap;font-size:10px;">
                        <asp:Label ID="lblVersionText" runat="server"></asp:Label>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="divScriptHolder" runat="server">
    </div>
    </form>
</body>
</html>
<asp:sitemapdatasource runat="server" id="ApplicationSiteMap" showstartingnode="false" />
