#HMatrixContainer {
	width:100%;
	height: 100%;
    min-height: 580px;
	
    position:relative ;
	font-family: sans-serif;
}
.HMatrixLeft {
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    bottom: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) inset;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
	width: 244px;
	height: 100%;
}
.HMatrixLeft .header {
	background: #1c5ea0; /* Old browsers */
	background: -moz-linear-gradient(top, #1c5ea0 0%, #064792 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c5ea0), color-stop(100%,#064792)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1c5ea0 0%,#064792 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1c5ea0 0%,#064792 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1c5ea0 0%,#064792 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1c5ea0 0%,#064792 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c5ea0', endColorstr='#064792',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #868686;
    border-radius: 6px 6px 0 0;
    height: 35px;
    left: 0;
    line-height: 36px;
    padding: 0 10px;
    position: relative;
    right: 0;
    top: 0;
}
#HMatrixContainer .header  .title {
	color: #fff;
	font-weight:bold;
	font-size: 20px;
	text-decoration: none;
}
#HMatrixContainer .header  .title:hover {
	
		text-decoration: underline;
}

.HMatrixLeft .content {
	bottom: 0;
    left: 0;
    overflow: auto;
    position: relative;
    right: 0;
    top: 0;
	border-bottom: 0px;
    border-radius: 0px 0px 6px 6px;
}

.HMatrixLeft .content .level {
	height:32px;
	border-bottom: 1px solid #DFDFDF;
    cursor: pointer;
    display: block;
    overflow:auto ;
    padding: 7px 0px 7px;
    text-decoration: none;
    vertical-align :middle ;
    position :relative ;
}

.HMatrixLeft .content .level:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.02)
}

.levels .name 
{
    font-weight : bold ;
	color: #5F7890;
	font-size:12px;
    
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:pre-line ;
	position:relative;
}

.levels .count {
	color: #7E7E7E;
    font-size: 14px;
	font-weight: bold;
    
	float: right;
}

.HMatrixLeft .content .level.active {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.10)
}

#HMatrixContent {
	bottom: 0;
    left: 10px;
    position:absolute ;
    right: 0;
    top: 0;
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25) inset;
	font-size: 15px;
	
	vertical-align :top ;
}

#HMatrixContent .header {
	background: #1c5ea0; /* Old browsers */
	background: -moz-linear-gradient(top, #1c5ea0 0%, #064792 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c5ea0), color-stop(100%,#064792)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1c5ea0 0%,#064792 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1c5ea0 0%,#064792 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1c5ea0 0%,#064792 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1c5ea0 0%,#064792 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c5ea0', endColorstr='#064792',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #868686;
    border-radius: 6px 6px 0 0;
    height: 35px;
    left: 0;
    line-height: 36px;
    padding: 0 10px;
    position: relative;
    right: 0;
    top: 0;
}

#LeftSidebar .header  .title {
	color: #fff;
	font-weight:bold;
	font-size: 15px;
}
#LeftSidebar .header  .title:hover {
	 text-decoration :none;
}
.BulkActions {
	margin-left:3px;
}



.tableData
{
	 vertical-align :middle  ; 
	
	 padding: 5px 10px;
	 text-decoration: none;
}

.hMtatrixtableRow
{
	 width : 100%; 
	 height : 32px;
	 border-bottom: 1px solid #DFDFDF;
	 cursor: pointer; 
}
.tableData .Name
{
	color: #5F7890;
	font-size:12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:pre-line ;
}


.tableDatacount {
	color: #7E7E7E;
    font-size: 14px;
	font-weight: bold;
    line-height: 32px;
	float: right;
}
