﻿.Translucent
{
	background-color:Gray;
	filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;   
    height: 100%; 
    width:100%;
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 50000;
}

.modalPopup 
{
	border-style: solid;
	border-width: 1px;
	border-color: #BCD8FF;
	border-right-width: 3px;
	border-right-color: #414F82;
	border-bottom-width: 3px;
	border-bottom-color: #414F82;
	background-color: #eeeeee;
	width:50%;
}

.modalPopup80 
{
	border-style: solid;
	border-width: 1px;
	border-color: #BCD8FF;
	border-right-width: 3px;
	border-right-color: #414F82;
	border-bottom-width: 3px;
	border-bottom-color: #414F82;
	background-color: #eeeeee;
	width:70%;
	background-position: top right;
}

#ModalCommonFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #BCD8FF;
	background-color: #eeeeee;
	padding: 2px;
}

#ModalCommonHeader
{
	font-family: Arial, Helvetica;
	height: 18px;
	font-size: 16px;
	padding: 5px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #414F82;
	background-color: #89A2D8;
	color: #000;
	font-weight: bold;
	cursor: move;
	overflow: hidden;
}

.CommonModalTitle
{
	overflow: hidden;
	cursor: pointer;
	float: left;
	padding: 2px 2px 2px 2px;
	vertical-align:middle;
}

.CommonModalClose
{
	overflow: hidden;
	cursor: pointer;
	float: right;
	padding: 2px 2px 2px 2px;
	vertical-align:middle;
}


#ModalCommon
{
	
}

body, html
{
	background-image: none;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	border-style: none;
}

.ModalCommonContentArea
{
	padding: 0px;
	font-family: Arial, Helvetica;
	border-style: none;
	margin: 0px;
	padding-top: 4px;
	background-color: #ffffff;
}

.ModalCommonContent
{
	border-style: none;
	background-color: #ffffff;
	height:100px;
}

/*Context Menu Styles*/

.CommonContextMenuGroup
{
	border:solid 1px gray;	
	text-align: left;
	position:absolute;
	visibility:hidden;
	background-color:silver;
	opacity:.9;
	filter: alpha(opacity=90);
	
}

.CommonContextMenuItem
{
	background-color:white; 
	font-family: Arial, Helvetica; 
	font-size:90%; 
	border:solid 1px white; 
	cursor:pointer;
	padding: 3px;
}

.CommonContextMenuItem:hover
{
	background-color:#e2eecd; 
	color:black; 
	font-family: Arial, Helvetica; 
	font-size:90%; 
	border:solid 1px #dddddd; 
	cursor:pointer;
	padding: 3px;
}
.modalBackground 
{
 background-color:#A4A4A4;
 filter:alpha(opacity=70);
 opacity:0.7;
 
}

.modalPopup {
 background-color:White ;
 border-width:3px;
 border-style:solid;
 border-color:Gray;
 padding:3px;
 width:250px;
}

