.body {
	background-color: #C4DDF3;/*c3daf9*/
    background-image: none;
    
}
a, input, option, select, table, tr, td
{
	font-family: arial;
	font-size: 10pt;
}

input.suggestion, select.suggestion, select.suggestion option
{
	width: 230px;
}

input.button
{
	width: 100px;
	cursor: hand;
}
td.highlight
{
	background-color: #DADADA;
}