

/*input[type="image"]
{
	width:auto;
	height:auto;
	padding:0;
	margin:3px 0;
	*margin-top:0;
	line-height:normal;
	border:0;
	cursor:pointer;
	border-radius:0 \0/
}



.tooltip{position:absolute;z-index:1020;display:block;visibility:visible;padding:5px;font-size:11px;opacity:0;filter:alpha(opacity=0)}
.tooltip.in{opacity:.8;filter:alpha(opacity=80)}.tooltip.top{margin-top:-2px}
.tooltip.right{margin-left:2px}
.tooltip.bottom{margin-top:2px}
.tooltip.left{margin-left:-2px}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid rgba(39,33,35,0.9)}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid rgba(39,33,35,0.9)}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid rgba(39,33,35,0.9)}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid rgba(39,33,35,0.9)}
.tooltip-inner
	{
		max-width:200px;
		padding:3px 8px;
		color:#fff;
		text-align:center;
		text-decoration:none;
		background-color:rgba(39,33,35,0.9);
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px}
	.tooltip-arrow
	{
		position:absolute;
		width:0;
		height:0}
		
		
		::selection
		{
			background:#fff;
			color:#39f}
			
			
.span2
{
	margin-top : 50px;
}

*/


.tooltip:after {
    border-bottom: 7px solid transparent;
    
    border-right: 7px solid black;
    border-top: 7px solid transparent;
    content: "";
    display: inline-block;
    left: -6px;
    position: absolute;
    top: 7px;
}



	.tooltip{

		border-radius:5px;
		margin:8px;
		padding:8px;
		border:1px solid blue;
		 background-color: #000000;
    opacity: 0.7;
    color :White ;
		position: absolute;
		z-index: 2;
	}
	
	
	
	
	
	
.Gridtooltip:after {
border-bottom: 7px solid #000000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left:6px;
    position: absolute;
    top: -6px;
}

.Gridtooltip::before {
position: absolute;
top: -7px;
left:6px;
display: inline-block;
border-right: 7px solid transparent;
border-bottom: 7px solid #000000;
border-left: 7px solid transparent;
border-bottom-color: rgba(0, 0, 0, 0.2);
content: '';
}

	.Gridtooltip{

		border-radius:5px;
		margin:8px;
		padding:8px;
		border:none;
		 background-color: #000000;
    opacity: 0.8;
    color :White ;
		position: absolute;
		z-index: 2;
	}