﻿<%@ Page Language="C#" MasterPageFile="~/CandidatePortal/CandidatePortalLeft.master" AutoEventWireup="true" CodeFile="Documents.aspx.cs" Inherits="TPS360.Web.UI.Documents" Title="Untitled Page" %>

<%-- Add content controls here --%>
<%@ Register Src="~/Controls/MemberDocumentUploader.ascx" TagName="Document" TagPrefix="ucl" %>
<asp:Content ID="Content3" ContentPlaceHolderID="cphCandidateMaster" Runat="Server">

<script >
$(document).ready(function (){
  
});

</script>

<ucl:Document ID="uclDocument" runat ="server" />  
<asp:HiddenField ID="hdnDocuments" runat="server" />
    
    

           
</asp:Content>

